name: Run tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [gcc, clang]
        python-ruby-version:
          - { python: "3.14", ruby: "3.4" }
          - { python: "3.14", ruby: "3.4", other: "test-flags-override" }
          - { python: "3.14", ruby: "3.4", other: "test-debug" }
          - { python: "3.14", ruby: "3.4", other: "linker-bfd" }
          - { python: "3.14", ruby: "3.4", other: "linker-gold" }
          - { python: "3.14", ruby: "3.4", other: "sanitizers" }
          # Test several Python versions with the latest Ruby version
          - { python: "3.14", ruby: "3.4" }
          - { python: "3.12", ruby: "3.4" }
          - { python: "3.11", ruby: "3.4" }
          - { python: "3.10", ruby: "3.4" }
          - { python: "3.9", ruby: "3.4" }
          - { python: "3.8", ruby: "3.4" }
          # Test several Ruby versions with the latest Python version
          - { python: "3.14", ruby: "4.0" }
          - { python: "3.14", ruby: "3.3" }
          - { python: "3.14", ruby: "3.2" }
          - { python: "3.14", ruby: "3.1" }
          - { python: "3.14", ruby: "3.0" }
          - { python: "3.14", ruby: "2.7" }
          - { python: "3.14", ruby: "2.6" }
          - { python: "3.14", ruby: "2.5" }
        exclude:
          - compiler: clang
            python-ruby-version:
              { python: "3.14", ruby: "3.4", other: "linker-bfd" }
          - compiler: clang
            python-ruby-version:
              { python: "3.14", ruby: "3.4", other: "linker-gold" }

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-ruby-version.python }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-ruby-version.python }}

      - name: Set up Ruby ${{ matrix.python-ruby-version.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.python-ruby-version.ruby }}
          bundler-cache: true

      - name: Install dependencies
        run: |
          echo "::group::Ubuntu packages"
          sudo apt-get update -q
          sudo apt-get install -qy --no-install-recommends \
              bison \
              flex \
              gawk \
              gettext \
              libaudit-dev \
              libcap-dev \
              libcap-ng-dev \
              libcunit1-dev \
              libdbus-glib-1-dev \
              libpam0g-dev \
              libpcre2-dev \
              meson \
              pkgconf \
              ruby-dev \
              swig \
              xmlto
          echo "::endgroup::"

          echo "::group::Debian packages"
          curl -fsSL https://ftp-master.debian.org/keys/archive-key-13.asc | gpg --dearmor | sudo tee /usr/share/keyrings/debian-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/debian-archive-keyring.gpg] http://deb.debian.org/debian trixie main" | sudo tee /etc/apt/sources.list
          sudo apt-get update -q
          # includes pkg-config file
          sudo apt-get install -qy --no-install-recommends libbz2-dev
          echo "::endgroup::"

          echo "::group::Python packages"
          pip install flake8 setuptools
          echo "::endgroup::"

      - name: Install Clang
        if: ${{ matrix.compiler == 'clang' }}
        run: sudo apt-get install -qqy clang

      - name: Configure the environment
        run: |
          DESTDIR=/tmp/destdir
          echo "PYTHON=python" >> $GITHUB_ENV
          echo "RUBY=ruby" >> $GITHUB_ENV
          echo "DESTDIR=$DESTDIR" >> $GITHUB_ENV

          CC=${{ matrix.compiler }}
          if [ "${{ matrix.python-ruby-version.other }}" = "linker-bfd" ] ; then
              CC="$CC -fuse-ld=bfd"
          elif [ "${{ matrix.python-ruby-version.other }}" = "linker-gold" ] ; then
              CC="$CC -fuse-ld=gold"
          fi
          # https://bugs.ruby-lang.org/issues/18616
          # https://github.com/llvm/llvm-project/issues/49958
          if [ "${{ matrix.compiler }}" = "clang" ] && [[ "${{ matrix.python-ruby-version.ruby }}" = 3* ]] ; then
              CC="$CC -fdeclspec"
          fi
          echo "CC=$CC" >> $GITHUB_ENV

          if [ "${{ matrix.python-ruby-version.other }}" = "test-debug" ] ; then
              # Test that debug build works fine
              echo "DEBUG=1" >> $GITHUB_ENV
          elif [ "${{ matrix.python-ruby-version.other }}" = "sanitizers" ] ; then
              sanitizers="-fsanitize=address,undefined"
              echo "CFLAGS=-g -O1 $sanitizers -Wno-error=format-overflow" >> $GITHUB_ENV
              echo "LDFLAGS=$sanitizers" >> $GITHUB_ENV
              echo "ASAN_OPTIONS=strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1" >> $GITHUB_ENV
              echo "UBSAN_OPTIONS=print_stacktrace=1:print_summary=1:halt_on_error=1" >> $GITHUB_ENV
          fi

          # Find files in order of pkgconf to be able to find Python.h
          # For example with Python 3.5:
          # * python is located at /opt/hostedtoolcache/Python/3.5.10/x64/bin/python
          # * sys.prefix is /opt/hostedtoolcache/Python/3.5.10/x64
          # * Python.h is located at /opt/hostedtoolcache/Python/3.5.10/x64/include/python3.5m/Python.h
          # * python-3.5.pc is located at /opt/hostedtoolcache/Python/3.5.10/x64/lib/pkgconfig/python-3.5.pc
          PYTHON_SYS_PREFIX="$(python -c 'import sys;print(sys.prefix)')"
          echo "PKG_CONFIG_PATH=${PYTHON_SYS_PREFIX}/lib/pkgconfig" >> $GITHUB_ENV

          # Display the final environment file, for debugging purpose
          cat $GITHUB_ENV

      - name: Download and install refpolicy headers for sepolgen tests
        run: |
          curl --location --retry 10 -o refpolicy.tar.bz2 https://github.com/SELinuxProject/refpolicy/releases/download/RELEASE_2_20250923/refpolicy-2.20250923.tar.bz2
          tar -xvjf refpolicy.tar.bz2
          sed -e "s,^PREFIX :=.*,PREFIX := $DESTDIR/usr," -i refpolicy/support/Makefile.devel
          sudo make -C refpolicy/ install-headers bare
          sudo mkdir -p /etc/selinux
          echo 'SELINUXTYPE=refpolicy' | sudo tee /etc/selinux/config
          echo 'SELINUX_DEVEL_PATH = /usr/share/selinux/refpolicy' | sudo tee /etc/selinux/sepolgen.conf
          sed -e "s,\"\(/usr/bin/[cs]\),\"$DESTDIR\1," -i python/sepolgen/src/sepolgen/module.py
          rm -r refpolicy/ refpolicy.tar.bz2

      - name: Display versions
        run: |
          echo "::group::Compiler ($CC):"
          $CC --version
          echo "::endgroup::"

          echo "::group::Python ($(which "$PYTHON")):"
          $PYTHON --version
          echo "::endgroup::"

          echo "::group::Ruby ($(which "$RUBY")):"
          $RUBY --version
          echo "::endgroup::"

      - name: Run tests
        run: |
          echo "::group::meson setup"
          # Skip `--fatal-meson-warnings` due to
          #     libselinux| WARNING: Please do not define rpath with a linker argument, use install_rpath
          #     libselinux| or build_rpath properties instead.
          #     libselinux| This will become a hard error in a future Meson release.
          # caused by using subprojects
          meson setup --prefix /usr --werror build_dir || ( cat ./build_dir/meson-logs/meson-log.txt; exit 1 )
          echo "::endgroup::"

          echo "::group::meson build"
          meson compile --verbose -C build_dir/
          echo "::endgroup::"

          echo "::group::meson install"
          meson install -C build_dir/
          echo "::endgroup::"

          # Set up environment variables for the tests and show variables (to help debugging issues)
          echo "::group::Environment variables"
          . ./scripts/env_use_destdir

          PYTHONPATH="/tmp/destdir/usr/lib/python3/dist-packages:$PYTHONPATH"
          echo "PYTHONPATH=$PYTHONPATH" >> $GITHUB_ENV

          LD_LIBRARY_PATH="/tmp/destdir/usr/lib/$(dpkg-architecture -qDEB_HOST_MULTIARCH):$LD_LIBRARY_PATH"
          echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH" >> $GITHUB_ENV

          echo "LD_LIBRARY_PATH=$LD_LIBRARY_PATH"
          echo "PATH=$PATH"
          echo "PYTHONPATH=$PYTHONPATH"
          echo "RUBYLIB=$RUBYLIB"
          echo "::endgroup::"

          # Run tests
          echo "::group::meson list tests"
          meson test --list -C build_dir/
          echo "::endgroup::"

          echo "::group::meson test"
          meson test --print-errorlogs --verbose -C build_dir/ || (cat ./build_dir/meson-logs/testlog.txt; exit 1 )
          echo "::endgroup::"

          if [ "${{ matrix.python-ruby-version.other }}" != "sanitizers" ] ; then
              # Test Python and Ruby wrappers
              echo "::group::Test Python and Ruby wrappers"
              $PYTHON -c 'import selinux;import selinux.audit2why;import semanage;print(selinux.is_selinux_enabled())'
              $RUBY -e 'require "selinux";require "semanage";puts Selinux::is_selinux_enabled()'
              echo "::endgroup::"

              # Run Python linter, but not on the downloaded refpolicy
              echo "::group::scripts/run-flake8"
              ./scripts/run-flake8
              echo "::endgroup::"
          fi

          echo "::group::Test .gitignore and make clean distclean"
          # Remove every installed files
          rm -rf "$DESTDIR"
          # Test that "git status" looks clean, or print a clear error message
          git status --short | sed -n 's/^??/error: missing .gitignore entry for/p' | (! grep '^')
          # Clean up everything and show which file needs to be added to "make clean"
          rm -Rf build_dir/
          git ls-files --ignored --others --exclude-standard | sed 's/^/error: "make clean distclean" did not remove /' | (! grep '^')
          echo "::endgroup::"
